.list {
    margin-block: 32px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
}

.listItem {
    list-style: none;
    padding: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
    background-color: var(--corSecundaria);
}

.listItem:hover {
    transform: scale(1.1);
    outline: 2px solid var(--corPrincipal);
    border-radius: 2px;
    cursor: pointer;
}

.itemName b,
.itemLanguage b {
    margin-right: 8px;
}

.itemLink {
    display: block;
    background-color: var(--corPrincipal);
    color: var(--corSecundaria);
    text-align: center;
    font-weight: bold;
    margin-top: 8px;
    padding: 8px;
    text-decoration: none;
    border-radius: 4px;
}

.itemLink:hover {
    opacity: 0.8;
}